<div class="row">
  <%  @order_items.each do |item| %>
    <div class="col-md-3 col-xs-12 col-12">
      <div class="card">
         <%= image_tag('no-image-available.jpg', class: "card-img-top")%>
         <div class="card-body">
           <p  class="text-center">
             <small>Código: <%= item.product.code %></small>
           </p>
           <p class="card-text">
             <%= item.product.description %>
           </p>
           <%= form_for([:portal, item], remote: true) do |f| %>
            <%= f.hidden_field :product_id, value: item.product.id %>
             <p class="price text-center">
               R$ <em><%= item.product.price %></em>
             </p>
             <div class="text-center">
               Qtd.
               <%= f.select :quantity, [1,2,3,4,5,6,7,8,9], value: item.quantity.to_i %>
             </div>
             <hr />
            <div class="col-md-12 mx-auto" align="center">
              <%= f.submit "Atualiza", class: 'btn btn-primary btn-sm'%>
              <%= link_to "Remove", portal_order_item_path(item), method: :delete, remote: true, class: 'btn btn-primary btn-sm btn-danger'%>
            </div>
           <% end %>
         </div>
       </div>
    </div>
  <% end %>
</div>
