<!DOCTYPE html>
<html>
  <head>
    <title>Lista</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <div class="grid-container">
      <nav class="navbar bg-light">
        <a class="navbar-brand" href="/">
          <%= image_tag('logo.png', size: "60") %>
        </a>
        <% if current_user %>
        <div class="col-md-1 pull-right">
          <div class="row">
            <div class="col-md-6">
              <div class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownCar" data-toggle="dropdown">
                   <%= fa_icon "shopping-cart", class: 'shopping-cart' %>&nbsp;&nbsp;&nbsp;<small>(3)</small>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownCar" style="width: 330px;">
                  <div class="col-md-12">
                    <ul class="list-car">
                      <li>
                        Porta Temperos c/5 pcs Inox/Vidro
                        <a hre="#" class="pull-right">
                          <%= fa_icon "trash"%>
                        </a>
                      </li>
                      <li>
                        Conj. Porta Tempero 6 pcs com suporte de imã inox
                        <a hre="#" class="pull-right">
                          <%= fa_icon "trash"%>
                        </a>
                      </li>
                      <li>
                        Colher Sorvete Inox Tramontina
                        <a hre="#" class="pull-right">
                          <%= fa_icon "trash"%>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <hr />
                  <a class="btn btn-lista col-md-11"href="#">
                    Ver Carrinho
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
               <div class="dropdown">
                  <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown">
                    <%= image_tag(current_user.image ?  current_user.image : 'https://caruarucity.com.br/wp-content/uploads/2016/12/avatar-vazio.jpg', size: "30", class: "avatar")%>
                    <%= current_user.name %>                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                    <%= link_to 'Sair', destroy_user_session_path, :method => :delete, class: 'dropdown-item text-danger' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% else %>
            <form class="form-inline">
              <a class="btn btn-outline-primary" href="/login" role="button">
                Login
              </a>
              <div style="padding-left: 10px;">
              <a class="btn btn-outline-success" href="/users/sign_out" role="button">
              Sign Up
              </a>
              </div>
            </form>
          <% end %>
        </nav>
        <%= yield %>
      </div>
  </body>
</html>
